.playBtnBox {
  border: 2px rgba(255, 255, 255, 0.11) solid;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.playBtnLine1 {
  border: 2px rgba(255, 255, 255, 0.451) solid;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right-color: transparent;
  animation: rotation 4s infinite linear;
}
.playBtnLine2 {
  border: 2px rgba(255, 255, 255, 0.451) solid;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right-color: transparent;
  animation: rotation1 3s infinite linear;
}
.playBtn {
  background-color: rgb(255, 255, 255);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: 0.3s all;
}

.playBtn:hover {
  opacity: 0.9;
}

.playBtn svg {
  width: 1.875rem;
  height: 1.875rem;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 768px) {
  .playBtnBox {
    width: 9rem;
    height: 9rem;
  }

  .playBtnLine1 {
    width: 7rem;
    height: 7rem;
  }

  .playBtnLine2 {
    width: 5rem;
    height: 5rem;
  }

  .playBtn {
    width: 3.5rem;
    height: 3.5rem;
  }

  .playBtn svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
