@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1e90ff;
  --secondary-color: #228b22;
  --tertiary-color: hsl(51, 100%, 50%);
  --background-color: #ffffff;
  --text-color: #141010;
  --neutral-color-1: #dc143c;
  --neutral-color-2: #8b008b;
  --neutral-color-3: #8fbc8f;

  --navbar-height: 7rem;
  --navbar-scroll-height: 5rem;
}

@layer base {
  a {
    @apply block;
  }
}
